body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: antiquewhite;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

header,
footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
}

header h2 {
  width: 100px;
  margin-left: 20px;
}

header div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style-type: none;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 0;
}

.menuCart {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: fit-content;
  align-self: center;
}

.menuCart a {
  align-self: center;
  font-size: 25px;
  padding-right: 5px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  justify-content: center;
}

footer ul {
  gap: 110px;
}

main {
  padding: 80px 0px 60px 0px;
}

.homePage,
.productPage,
.cart-container,
.shoppingCart,
.checkoutSuccess,
.checkoutSuccessContainer,
.contactForm,
.contactForm form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.card-btn button,
.clearCartBtn,
.cartCheckoutBtn,
.cartBackHomeBtn,
.checkoutSuccessContainer button,
.contactFormContainer button {
  height: 45px;
  width: 130px;
  color: white;
  background-color: black;
  border: 3px solid white;
  border-radius: 7px;
  font-size: 1.2rem;
}

.card-btn button:hover,
.clearCartBtn:hover,
.cartCheckoutBtn:hover,
.cartBackHomeBtn:hover,
.checkoutSuccessContainer button:hover,
.contactFormContainer button:hover {
  color: black;
  background-color: white;
}

.search-container ul img,
.shoppingCart img {
  max-height: 50px;
  width: 50px;
  margin-right: 10px;
}

/* Home Page */
.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.search-container input {
  border: 2px solid white;
  border-radius: 5px;
  width: 300px;
  height: 40px;
  align-self: center;
  background-color: black;
  color: white;
  font-size: 1.2rem;
}

.search-container a {
  color: white;
  list-style-type: none;
  display: flex;
  align-items: center;
  background-color: black;
  border: 1px solid white;
  padding: 5px;
  font-size: 1.2rem;
  overflow-wrap: anywhere;
}

.search-container a li {
  display: flex;
  align-items: center;
}

.search-container a:hover {
  text-decoration: underline;
}

.search-container ul {
  padding: 0;
  position: absolute;
  top: 126px;
  width: 306px;
  background-color: #eee;
  align-self: center;
  margin-top: 0;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1599px;
  margin-top: 10px;
}

.productCard {
  background-color: black;
  color: white;
  border-radius: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-align: center;
  justify-content: space-between;
}

.imgBox {
  overflow: hidden;
  width: inherit;
  height: 200px;
  border-radius: 8px 8px 0px 0px;
}

.imgBox img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.productInfoBox {
  padding: 10px;
}

.card-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.starRating {
  color: rgb(255, 149, 0);
}

.normalPrice {
  color: white;
  font-size: 1.2rem;
}

.productDiscount {
  color: red;
  text-decoration: line-through;
  font-size: 1.2rem;
}

/* Cart Page */

.shoppingCart {
  background-color: black;
  color: white;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
}

.shoppingCart a {
  margin-top: 20px;
}

.cartProductContainer {
  margin: 20px 0px;
}

.cartProduct {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid white;
  justify-content: space-between;
  align-items: center;
}

.cartProductInfo {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  overflow-wrap: anywhere;
}

.productAmount {
  display: flex;
  gap: 5px;
  margin-left: 10px;
  align-items: center;
}

.card-btn button:hover {
  color: black;
  background-color: white;
}

.buttonSubtract {
  background-color: red;
}

.buttonAdd {
  background-color: green;
}

.cartTrashCan {
  margin-left: 10px;
}

.productAmount button {
  height: 30px;
  width: 30px;
  border-radius: 5px;
}

.shoppingCart div {
  font-size: 1.2rem;
}

/* Product Page */
.productPage {
  display: flex;
  justify-content: center;
}

.productPageContainer {
  text-align: center;
  margin: 10px;
  padding: 10px 0px 60px;
  max-width: 1000px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.productInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productInfo img {
  width: 100%;
  max-width: 400px;
  height: auto;
  margin: 15px;
}

.productInfo p {
  max-width: 350px;
  padding: 10px;
}

.productTags {
  text-transform: capitalize;
}

.productTags,
.productPriceContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.productInfo button {
  height: 45px;
  width: 130px;
  color: white;
  background-color: black;
  border: 3px solid white;
  border-radius: 7px;
  font-size: 1.2rem;
  margin-left: 10px;
}

.productInfo button:hover {
  color: black;
  background-color: white;
}

.reviewContainer {
  gap: 10px;
  display: grid;
  margin-top: 10px;
}

.reviewCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 5px;
  padding: 5px 20px;
  color: black;
  background: whitesmoke;
  margin: 2px 10px;
}

.reviewRatingAuthor {
  display: flex;
  justify-content: space-evenly;
}

/* Contact Page */

.contactFormContainer {
  padding: 90px 60px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.contactFormContainer div {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  width: 230px;
}

.contactFormContainer label {
  font-size: 1.3rem;
}

.productInfo p,
.reviewCard p,
.contactFormContainer input,
.contactFormContainer textarea,
.contactFormContainer span {
  font-size: 1.2rem;
}

.contactFormContainer h1 {
  text-align: center;
}

.contactFormContainer span {
  color: red;
}

/* Checkout Success Page */
.checkoutSuccessContainer {
  max-width: 1000px;
  background-color: black;
  color: white;
  padding: 50px 20px;
  border-radius: 10px;
  margin: 10px;
  font-size: 1.2rem;
  text-align: center;
}

/* Media adjustments */

@media (min-width: 600px) {
  .shoppingCart {
    padding: 60px;
  }

  .contactFormContainer {
    padding: 90px 140px;
  }
}

@media (min-width: 820px) {
  .productPageContainer {
    padding: 20px 80px 80px;
  }

  .productInfo div {
    text-align: start;
  }

  .productInfo .productTags,
  .productInfo .productPriceContainer {
    justify-content: start;
  }
}

@media (min-width: 950px) {
  .shoppingCart {
    padding: 60px 200px;
  }

  .checkoutSuccessContainer {
    width: 850px;
  }
}

@media (min-width: 1100px) {
  .checkoutSuccessContainer {
    width: 1000px;
  }
}
